[Desktop Entry]
Name=Simulator
Path=/home/workspace/simulator
Exec=vglrun bash -c "cd /home/workspace/simulator/ && ./term2_sim.x86_64"
Icon=/home/workspace/simulator/udacity-logo.png

Terminal=false
Type=Application